* 
{
  margin : 0 ; 
  padding : 0 ; 
  border : 0 ; 
  box-sizing : border-box ; 
}
::selection 
{
  background : #000a ; 
  color : #fc0 ; 
}
body 
{
  display : flex ; 
  flex-direction : column ; 
  justify-content : center ; 
  align-items : center ; 
  font-size : 3rem ; 
  font-family : sans-serif , system-ui ; 
}
.github 
{
  position : relative ; 
  background : #000 ; 
  width : 32px ; 
  height : 32px ; 
  border-radius : 50% ; 
}
.github:hover 
{
  fill : #000a ; 
  background : #fff ; 
}
.github svg 
{
  position : absolute ; 
  top : 0 ; 
  left : 0 ; 
}
a:hover 
{
  text-decoration : none ; 
  color : #fc0 ; 
}
a:focus 
{
  text-decoration : underline ; 
  outline : 1px solid #000 ; 
}
