@font-face 
{
  font-family : menlo_num ; 
  src : url(https://left-right-chancellor.github.io/f/Menlo-Regular.woff2) format(woff2) , url(https://left-right-chancellor.github.io/f/Menlo-Regular.otf) format(otf) ; 
  unicode-range : U+0030 - 003A ;
}
* 
{
  margin : 0 ; 
  padding : 0 ; 
  border : 0 ; 
  box-sizing : border-box ; 
}
::selection 
{
  background : #000a ; 
  color : #fc0 ; 
}
html , body 
{
  width : 100% ; 
  height : calc(100vh - 6rem) ; 
}
body 
{
  font-size : 1rem ; 
  font-family : menlo_num , "Noto Serif TC" , sans-serif , system-ui ; 
  margin-top : 6rem ; 
  display : flex ; 
  flex-direction : column ; 
  justify-content : center ; 
  align-items : center ; 
}
main 
{
  margin : 1rem 3rem ; 
}
@media only screen and (max-resolution :.9x)
{
  body
  {
    font-family : menlo_num , "Noto Sans TC" , sans-serif , system-ui ; 
  }
}
#day 
{
  display : inline-block ; 
}
.footer-bottom 
{
  display : flex ; 
  justify-content : center ; 
  align-items : center ; 
}
.ex-links 
{
  position : relative ; 
  background : #000 ; 
  width : 32px ; 
  height : 32px ; 
  border-radius : 50% ; 
}
.ex-links:first-child svg , .ex-links:nth-child( 2 ) svg 
{
  position : absolute ; 
  top : 4px ; 
  left : 4px ; 
}
.ex-links:last-child svg , .ex-links:nth-child( 3 ) svg 
{
  position : absolute ; 
  top : 0 ; 
  left : 0 ; 
}
.ex-links:hover 
{
  background : #fff ; 
}
.ex-links:first-child:hover svg 
{
  stroke : #000 ; 
}
.ex-links:not( :first-child ):hover svg 
{
  fill : #000 ; 
}
a , a:visited 
{
  color : currentColor ; 
  text-decoration : none ; 
}
a:hover 
{
  text-decoration : none ; 
  color : #fc0 ; 
}
a:focus 
{
  text-decoration : underline ; 
  outline : 1px solid #000 ; 
}

header 
{
  color : #ddd ; 
  background : #034767 ; 
  width : 100% ; 
  position : fixed ; 
  top : 0 ; 
}
header nav 
{
  display : flex ; 
  align-items : center ; 
}
header nav > :first-child > :first-child 
{
  margin : 1rem ; 
}
#home 
{
  width : 4rem ; 
  height : 4rem ; 
}
@media print 
{
  header 
  {
    display : none ; 
  }
}
@media only screen and ( min-width : 768px ) 
{
  header nav 
  {
    justify-content : center ; 
    flex-direction : column ; 
  }
  header nav > :nth-child( n ):not( :first-child ) 
  {
    margin-bottom : .25rem ; 
  }
  body 
  {
    margin-top : 8.25rem ; 
    height : calc(100vh - 8.25rem) ; 
  }
}